body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background-color: #f5f5f5;
  }

  h2 {
  color: #333;
  }

  form {
  margin-bottom: 20px;
  }

  th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  }

  th {
  background-color: #f2f2f2;
  }

  input[type="text"], input[type="submit"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  }

  input[type="submit"] {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  }

  input[type="submit"]:hover {
  background-color: #45a049;
  }

  .registration-button {
  padding: 8px 12px;
  background-color: #808080;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  }

  .registration-form {
  display: none;
  }

  button {
  padding: 8px 12px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  }

  button:hover {
  background-color: #1967D2;
  }

  table {
    width: 80%;
    margin: 0 auto; /* Add this line to center the table */
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .container {
    max-width: 800px;
    margin: auto;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input,
  select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #04855e;
  }
  
  tbody tr:nth-child(even) {
    background-color: #b6afaf;
  }
  
  td button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  td button:hover {
    background-color: #d32f2f;
  }
  
  /* Dropdown List Styles */
  .select-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
  }
  
  
  /* Media Query for Responsive Design */
  @media (max-width: 600px) {
    input,
    select,
    button {
      width: 100%;
    }
  }

  /* Стили для header */
  header {
    font-size: 40px;
    padding: 10px;
    text-align: center;
  }

  /* Стили для footer */
  footer {
    padding: 10px; 
    text-align: right;
  }