.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

input[type="number"],
input[type="text"],
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #04AA6D;
  color: white;
}

table td button {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

table td button:hover {
  background-color: #d32f2f;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 40px;
  justify-content: center; 
  text-align: center;
  left: 40px;
}

table tr:nth-child(even) {
  background-color: #b6afaf;
}

.avatud-poed {
  margin-top: 20px;
}

.avatud-poed h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.avatud-poed ul {
  list-style: none;
  padding: 0;
}

.avatud-pood {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatud-pood p {
  margin: 0;
  color: #666;
}

.avatud-pood-item {
  font-size: 18px;
  margin-bottom: 5px;
}

.avatud-poed-empty {
  font-size: 18px;
  color: #888;
}

/* Стили для модального окна */
.modal {
  display: none; /* Модальное окно изначально скрыто */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Стили для контента модального окна */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%; /* Ширина контента модального окна */
  max-width: 700px; /* Максимальная ширина контента модального окна */
  overflow: auto; /* Добавляем полосу прокрутки, если контент не помещается на экране */
  max-height: 80vh;
}

/* Стили для кнопки закрытия модального окна */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px; /* Увеличьте размер кнопки закрытия */
}

/* Стили для кнопок закрытия */
.close:hover,
button:hover {
  background-color: #0056b3;
  color: white;
}

/* Отображать модальное окно */
.modal.active {
  display: flex;
  /* Добавьте другие стили, если необходимо */
}